body {
	padding-top: 5rem;
}

.navbar-limux {
	background-color: #ffcc00;
}

.navbar-limux .nav-link {
	color: #333;
}

.navbar-limux .active .nav-link {
	color: #000;
	font-weight: bold;
}

.navbar-limux .navbar-toggler {
	border-color: #333;
	color: #333;
}

.navbar-limux .navbar-toggler-icon {
	url("data:image/svg+xml;charset=utf8,%3Csvg viewBox=\'0 0 30 30\' xmlns=\'http://www.w3.org/2000/svg\'%3E%3Cpath stroke=\'rgb(35, 35, 35)\' stroke-width=\'2\' stroke-linecap=\'round\' stroke-miterlimit=\'10\' d=\'M4 7h22M4 15h22M4 23h22\'/%3E%3C/svg%3E");
}

footer {
	background-color: #f5f5f5;
	height: 60px;
	line-height: 60px;
	width: 100%;
}

.sidebar-supporter {
	/*background-color: #f4f4f4;*/
}

.logo-padding-none {
	padding: 0;
}

.logo-padding-some {
	padding: 10px 0;
}

.logo-padding-lots {
	padding: 25px 0;
}

.sidebar-supporter div {
    padding: 0.5rem;
    margin-bottom: 1rem;
}

